@font-face {
  font-family: 'Oswald';
  src: url('/fonts/variable/Oswald-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/variable/JetBrainsMono[wght].ttf')
    format('truetype'),
       url('/fonts/webfonts/JetBrainsMono-Light.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Anaheim';
  src: url('/fonts/variable/Anaheim-VariableFont_wght.ttf')
    format('truetype');
}

/* Lighter bold fonts */
@font-face {
  font-family: 'Anaheim';
  font-weight: 700;
  src: url('/fonts/static/Anaheim-SemiBold.ttf')
    format('truetype');
}

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 600px;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #000;
}

header {
  text-align:center;
}

main {
  font-family: Anaheim, Noto Sans, sans;
  font-size: 18px;
  font-weight: 500;
  color: #101010;
}

a {
  color: #3273dc;
  /*color: #ff5e6c;*/
}

.title {
  text-align: center;
  text-decoration: none;
}

.title-text {
  font-size: 40px;
  font-family: Oswald;
  color: #000;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 5px;
}

.subtitle-text {
  font-size: 20px;
  font-family: Oswald;
  color: #808080;
  font-weight: 200;
  margin-bottom: 0px;
}

.navbar a {
  color: #696969;
  margin-right: 16px;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #ffa500;
}

.navbar {
  width: 100%;
  font-family: JetBrains Mono;
  margin-left:auto;
  margin-right:auto;
}

.navbar hr {
  display: block;
  border: 0;
  border-top: 2px solid #000;
  padding: 0;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}

pre code {
  color: #222;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
}

div.highlight pre {
  background-color: initial;
  color: initial;
}

div.highlight code {
  background-color: unset;
  color: unset;
}

blockquote {
  border-left: 1px solid #999;
  color: #222;
  padding-left: 20px;
  font-style: italic;
}

footer {
  padding: 25px;
  margin-top: 25px;
  text-align: center;
  color: #808080;
  font-family:Anaheim;
}

.helptext {
  color: #777;
  font-size: small;
}

.errorlist {
  color: #eba613;
  font-size: small;
}

/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #8b6fcb;
}

.asciicat {
  line-height:1.1em;
}

.footnotes {
  color: #696969;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
}
